{
         "presets":["env","stage-0"],
         "plugins":["transform-runtime","transform-remove-strict-mode"]
       //   "plugins":["transform-runtime",["component", {"libraryName":"mint-ui", "style":"ture" }  ]]
       //"transform-remove-strict-mode"                                                                         
   }                      
                      
               
        
